*{
    box-sizing: border-box;
}

#wrap{
    min-height: calc(100vh-100px);
}

/*header*/

.headerContainer{
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    top:0;
    z-index: 2;
}

.headerContainer.active{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}


.logo{
    height: 70px;
}


.logo h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #464646;
    margin-top: 0;
    margin-left: 3%;
    line-height: 70px;
}

.logo h1 a{
    text-decoration: none;
}


.logo h1 a:visited{
    color: #464646;
}

/*main nav*/

.mainNav{
    position: fixed;
    width: 100%;
    top:70px;
    z-index: 1;
}


.mainNavToggle{
   top: -200px;
}


.mainNav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.mainNav ul li{
    background: #262626;
    border-bottom: solid 1px #464646;
}

.mainNav ul li a{
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #767676;
    text-decoration: none;
    padding: 1.0em;
}

.mainNav ul li a:hover{
    color: #FFFFFF;
}

.fa-bars{
    display: block;
    position: absolute;
    margin: 0;
    cursor: pointer;
    top: 0;
    right: 0;
    line-height: 70px;
    padding: 0 1em;
}

/*project thumbs*/

.thumbnail{
   position: relative;
   z-index: 0;
}


.thumbnail ul{
    padding: 0;
    margin-top: 70px;
    margin-bottom: 0;
}


.thumbnail ul li{
   list-style: none;
   overflow: hidden;
   margin: 10px;
}


.thumbnail ul li img{
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    transition: transform .2s;
}


.thumbnail ul li:hover .photo-overlay{
    opacity: 1;
}

.thumbnail ul li:hover img{
    transform: scale(1.5);
    transform-origin: center;
}


section .thumbHolder{
    position: relative;
} 

.photo-overlay{
    position: absolute;
    padding: 1em;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    background: #000;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/*footer*/


footer{
    height: 100px;
    bottom: auto;
    width: 100%;
    margin-top: 15px;
}

footer p{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: auto;
    font-size: 0.7em;
    color: #464646;
    line-height: 200%;
    padding: 0;
    margin: 0;
}

footer .footerWrap{
    background: white;
    border-top: 1px solid #e8e8e8; 
    margin: 0 auto;
    padding: 1.2em 0.8em;
}

footer .footerWrap .socialIcon{
    float: right;
}

footer .footerWrap .socialIcon a img:nth-child(1){
    margin-left: 10px;
}

/**---Media Query----**/

@media only screen and (min-width: 768px) {
    
    .logo{
        height: 100px;
        text-align: left;
        border-bottom: 1px solid #e8e8e8; 
    }
    
    .logo h1{
        line-height: 100px;
        width: auto;
        margin-left: 3.6%;
    }
    
    .mainNav{
        width: auto;
        height: 100px;
        top:0;
        right: 3.5%;
        z-index: 2;
    }
    
    .mainNav ul li {
        display: inline-block; 
        background: none;
        border-bottom: none;
        text-align: center;
    }
    
    .mainNav ul li a{
        font-size: 0.7em;
        padding: 0 1.2em;
        line-height: 100px;
        color: #464646;
        transition: color 0.25s ease-in-out;
    }
    
    .mainNav ul li a:hover {
        color: darkorange;
    }
    
    .fa-bars{
        display:none;
    }
    
    .thumbnail{
        max-width: 1080px;
        background: white;
        margin: 0 auto;
    }
    
    .thumbnail ul{
        width: 100%;
        padding: 0;
        margin-top: 140px;
    }
    
    .thumbnail ul li {
        display: inline-block;
        width: 30%;
        height: auto;
        margin: 0;
        margin-right: 5%;
    /*        margin-left: -4px;*/
        margin-bottom: 2em;
    } 
    
    .thumbnail ul li:nth-child(3n)
    {
       margin-right: 0; 
    }
    
    footer p{
       display: inline-block;
       width: auto;
       margin-top: 15px;
       line-height: 200%;
    }
    
    footer .footerWrap{
        max-width: 1080px;
        background: white;
        padding: 0;
        border-top: 1px solid #e8e8e8; 
        margin: 0 auto;
    }
    
    footer .footerWrap .socialIcon{
        float: right;
        margin-top: 15px;
    }
    
    footer .footerWrap .socialIcon a img:nth-child(1){
        margin-left: 10px;
    }
    
    
}